*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
.main{
    background-image: url("images/img.jpg");
    height: 70vh;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max calc(100% -62px);
    
}
.main .box{
    height: 70vh;
    width: 100%;
    opacity: 0.54;
    background-color: black;
    position: absolute;
    top: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 60vw;
    margin: auto;
    height: 62px;
}
nav img{
    color:red;
    width: 144px;
    position: relative;
    z-index: 10;
}
nav button{
    z-index: 10;
}
.btn-red{
    background-color: red;
    color: rgb(236, 240, 243);
    border-radius: 3px;
    border-color: rgba(23, 23, 23, 0.2);
    position: relative;
    z-index: 10;
}
.btn-grey{
    padding: 3px 8px;
    color: white;
    border-radius: 3px;
    background-color: rgba(246, 246, 246, 0.2);
    border: 1px solid rgba(246, 241, 241, 0.2);
    position: relative;
    z-index: 10;
}
.hero{
    height: calc(100% -62px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 20px;
    padding: 130px;
}

.hero> :nth-child(1){
    position: relative;
    z-index: 10;
    font-weight: bolder;
    font-size: 25px;
    text-align: center;
}

.hero> :nth-child(2){
    font-weight: 500;
    font-size: 20px;
    text-align: center;
}
.hero> :nth-child(3){
    font-weight: 200;
    font-size: 16px;
    text-align: center;
}

.btn{
    padding: 3px 8px;
    font-weight: bold;
    background-color: red;
    color: rgb(222, 217, 217);
    border-radius: 4px;
    border-color: rgba(54, 52, 52, 0.2);

}
.main input{

    padding: 3px 8px;
    color: white;
    border-radius: 3px;
    background-color: rgba(246, 246, 246, 0.2);
    border: 1px solid rgba(246, 241, 241, 0.2);
    position: relative;
    z-index: 10;
}
.sepration{
    height: 3px;
    background-color: rgb(75, 77, 75);
}

.first {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50vw;
    margin: auto;
    color: aliceblue;
}
.secimg{
    position: relative;
}

.secimg img{
    width: 30vw;
    position: relative;
    z-index: 10;
}

.secimg video{
    position:absolute;
    top: 51px;
    right: 0;
    
    

}
section.first> div{
    display: flex;
    flex-direction: column;

}

section.first> div :nth-child(1){
    font-size: 85px;
    font-weight: bolder;
}

section.first> div :nth-child(1){
    font-size: 24px;
    gap: 50px;
}
.faq h1{
    text-align: center;
    font-size: 38px;
    padding: 20px;
}
.faq{
    background-color: black;
    color: white;
    padding: 6px;
    font-size: 20px;
}

.faqbox:hover{
    background-color: cornflowerblue;
}
.faqbox{
    transition: all 1s case-out;
    justify-content: space-between;
display: flex;
background-color: rgb(54, 53, 53);
max-width:30vw;
margin:  auto;
cursor: pointer;
height: 30px;
padding: 6px;
}


.hero1{
    height: calc(100% -62px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 20px;
    padding: 25px;
}

input{

    padding: 3px 8px;
    color: white;
    border-radius: 3px;
    background-color: rgba(246, 246, 246, 0.2);
    border: 1px solid rgba(246, 241, 241, 0.2);
    position: relative;
    z-index: 10;
}

.question{

font-size: 15px;
color: rgb(239, 248, 248);
max-width:50vw;
margin:  auto;
padding: 20px;
}
    
 .footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color:black;
    max-width:50vw;
margin:  auto;
  } 
  
   .footer-item {
    display: flex;
    flex-direction: column;
   
  }
  
  .footer-item a {
    color: white;
    padding: 10px;
  }
  
  .footer-item a:hover {
    text-decoration: underline;
  }  